body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }

  h3 {
    text-align: center;
    color: #4b99ec;
  }
  
  #how-to-use {
    text-align: center;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
  }
  
  #search-box-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #search-box {
    padding: 10px;
    width: 300px;
    border: 2px solid #007bff;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    color: #555;
  }
  
  #search-box::placeholder {
    color: #aaa;
  }
  
  #pokemon-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column on mobile */
    gap: 20px;
  }

  /* Styles for larger screens */
@media (min-width: 600px) {
    #pokemon-list {
      grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
   }
}

/* Styles for even larger screens */
@media (min-width: 900px) {
  #pokemon-list {
    grid-template-columns: repeat(4, 1fr); /* Four columns on even larger screens */
  }
}
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  li:hover {
    transform: scale(1.1);
  }
  
  li img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  #pokemon-info {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #a6c4e4;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #007bff;
  }
  
  .footer {
    text-align: center;
    padding: 10px 0;
    background-color: #89898a;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }